html, body {
  background: #FDFDFD;
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 20px;
}

.form-inline .stars {
  line-height: 1;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.active, .beenRated {
  color: #EFCC00;
}

.beenRatedRank {
  color: #EFCC00;
}

#create-to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 414px) {
  #create-to-do {
    /*font-size: medium;*/
    flex-direction: row;
  }
}

.well {
  background: rgba(204, 204, 204, .5);
}

.cloneBtn {
  margin-left: 5px;
}

span.glyphicon-star {
  font-size: 1.2em;
}

.table {
  font-size: large;
}

.form-control {
  font-size: large;
  display: inline-block;
  width: auto;
  height: auto;
}

.rmvIt {
  cursor: pointer;
}

.star {
  margin-left: -3px;
}

.glyphicon-sort {
  cursor: grab;
  cursor: -webkit-grab;
}

.glyphicon-sort:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

table tbody tr {
  background: white;
}

.chkedOff {
  opacity: 0.25;
}

.nowRated {
  margin-left: -3px;
  cursor: default;
}

.editable {
  border: 0;
}

.completed .opacity {
  opacity: 0.5;
}

.gold {
  color: #EFCC00;
}

.completed .gold {
  color: #d7b700;
}

.pointer {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.table>tbody>tr>td.completed-mark {
  font-weight: bold;
  font-style: italic;
  padding: 0;
  border: none;
}

/*span.glyphicon {
  display: inline-block;
}*/

/*
.completed td .glyphicon-ok-circle {
  color:
}*/
